body {
  font-family: "Poppins","Montserrat", serif;
  text-transform: uppercase;
    margin: 0;
    padding: 0;
    background: url("/mini project/images/dotted-bg.png") no-repeat center center fixed;
    background-size: cover;
  }

  .container{
    text-align: center;
    max-width: 900px;
    margin: 25px auto;
    background-color: #fff;
    color: #ff5f6d;
    border-radius: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  }

  .header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background: url("/mini project/images/form-header.png");
    background-size: cover;
    padding: 16px 345px 10px 36px;
    border-radius: 10px 10px 0 0;
    color: white;
  }

  .header p {
    font-size: 32px;
    margin: 10px 0px;
    font-weight: bolder;
    letter-spacing: 1.25px;
    opacity: 0.85;
    text-align: center;
  }

  .back-button {
    background-color: white;
    font-family: "Poppins","Montserrat", serif;
    color: #ff5f6d;
    border: none;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0px;
    display: inline-block;
    font-weight: bolder;
    opacity: 0.95;
  }

  .back-button:hover {
    background-color: #ff5f6c88;
    padding: 10px 28px;
    color: #fff;
    border: 1px solid #fff;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  label {
    font-weight: bolder;
    font-size: 18px;
  }

  input,
  textarea {
    margin-top: 10px;
    width: 62%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }

  textarea {
    height: 100px;
    resize: none;
  }

  .save-button {
    background: url("/mini project/images/submit-red.png");
    background-size: cover;
    color: white;
    border: none;
    margin: 20px auto 0px;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 65%;
    border-radius: 26px;
    font-family: "Poppins","Montserrat", serif;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out
  }

  .save-button:hover{
    background: url("/mini project/images/submit-blue.png");
    background-size: cover;
  }

  .btn-group{
    display: flex;
    justify-content: center;
  }
  #photos{
    width: 38%;
  }

  .footer{
    height: 16px;
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
    background: url("/mini project/images/form-footer.png");
    background-size: cover;
    padding: 16px 345px 10px 36px;
    border-radius: 0 0 10px 10px;
  }